/* stylelint-disable max-line-length */

/* Clancy - UNSW heading font */
@import url('https://www.fonts.unsw.edu.au/clancy/clancy.css');

/* Roboto Mono - buttons and metadata */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

/* Roboto - body font */
@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto-medium.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* External fonts */
@font-face {
    font-family: Clancy;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Clancy-Light.woff2) format("woff2"), url(../fonts/Clancy-Light.woff) format("woff")
}

@font-face {
    font-family: Clancy;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Clancy-Regular.woff2) format("woff2"), url(../fonts/Clancy-Regular.woff) format("woff")
}

@font-face {
    font-family: Clancy;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Clancy-Bold.woff2) format("woff2"), url(../fonts/Clancy-Bold.woff) format("woff")
}